#header {
  background-color: #cdedf6;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin: 0 2%;
  position: relative;
}

/* List of blog posts */
section .blog {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blog-article {
  border: 1px solid black;
  width: 60%;
  padding: 1%;
  align-content: center;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blog-article h2 {
  padding: 1%;
}

.blog-article p {
  padding: 1%;
}

.blog-article a {
  align-self: flex-end;
}
.link {
  justify-items: end;
}


