#header {
  background-color: #cdedf6;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin: 0 2%;
  position: relative;
}

/* Single article on page */
#single-article {
  width: 60%;
  padding: 1%;
  margin: 1% auto;
  justify-content: center;
  align-content: center;
}

#single-article h1 {
  font-size: 40px;
  padding: 1%;
}

#single-article p {
  font-size: 20px;
  padding: 1%;
}
